.sample {
  display: inline-block;
  margin: 0 $gutter $gutter 0;
  width: 100px;
  height: 100px;

  p {
    margin: 0;
    text-align: center;
    line-height: 100px;
    color: $white;
  }
}

.red { background-color: $red; }
.yellow { background-color: $yellow; }
.blue { background-color: $blue; }
.green { background-color: $green; }
