.footer {
  background-color: $blue;

  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: $gutter;
    text-align: center;
    color: $white;
    font-size: 12px;

    > * { flex: 1 1 auto; }

    .copyright {
      flex: 0 0 auto;
      text-align: left;

      span {
        display: block;
        margin: ($gutter / 2) 0;
      }

      .webmaster {
        padding-left: 0;
        text-decoration: none;
        color: $white;
        font-size: 12px;

        &:visited {
          color: $white;
        }

        &:hover {
          color: $red;
        }
      }
    }

    .social-links {
      flex: 0 0 auto;
      min-width: 80px;

      a {
        display: inline-block;
        padding-left: $gutter;
        text-decoration: none;
        color: $white;
        font-size: 14px;

        &:visited {
          color: $white;
        }

        &:hover {
          color: $red;
        }
      }
    }
  }
}

@media screen and (min-width: #{$screen-tablet}) {
  .footer {
    .footer-container {
      margin: 0 auto;
      padding: $gutter 0;
      width: $container-tablet;

      .copyright {
        flex: 1 1 auto;
        width: auto;
      }

      .social-links {
        a {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (min-width: #{$screen-tablet-lg}) {
  .footer {
    .footer-container {
      width: $container-tablet-lg;
    }
  }
}

@media screen and (min-width: #{$screen-desktop}) {
  .footer {
    .footer-container {
      width: $container-desktop;
    }
  }
}

@media screen and (min-width: #{$screen-desktop-lg}) {
  .footer {
    .footer-container {
      width: $container-desktop-lg;
    }
  }
}
