.header {
  border-bottom: 1px solid $blue;
  background-color: $background-yellow;

  .header-container {
    padding: $gutter;

    .logo {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;

      img {
        width: 90px;
        height: auto;
      }

      .header-title {
        margin: 0 $gutter;
        width: 100%;

        h1 {
          margin: 0;
          text-align: center;
          color: $blue;
          font-family: $script;
          font-size: 32px;
        }

        h2 {
          margin-bottom: 0;
          text-align: center;
          color: $blue;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
        }
      }
    }

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: $gutter;

      a {
        text-decoration: none;
        color: $blue;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;

        &:visited {
          color: $blue;
        }

        &:hover {
          text-decoration: underline;
        }

      }
    }
  }
}

@media screen and (min-width: 425px) {
  .header {
    .header-container {
      .logo {
        img { width: 150px; }

        .header-title {
          h1 { font-size: 42px;}
          h2 { font-size: 16px;}
        }
      }
    }
  }
}

@media screen and (min-width: #{$screen-tablet}) {
  .header {
    .header-container {
      margin: 0 auto;
      padding: $gutter 0;
      width: $container-tablet;

      .logo {
        img {
          width: 175px;
        }

        .header-title {
          margin-left: $gutter * 2;

          h1 {
            font-size: 48px;
          }

          h2 {
            font-size: 18px;
          }
        }
      }

      nav {
        padding-top: $gutter * 2;

        a {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: #{$screen-tablet-lg}) {
  .header {
    .header-container {
      width: $container-tablet-lg;

      .logo {
        img {
          width: 250px;
        }

        .header-title {
          margin-left: $gutter * 4;

          h1 {
            font-size: 72px;
          }

          h2 {
            font-size: 24px;
          }
        }
      }

      nav {
        a {
          font-size: 24px;
        }
      }
    }
  }
}


@media screen and (min-width: #{$screen-desktop}) {
  .header {
    .header-container {
      width: $container-desktop;

      .logo {
        .header-title {
          h1 { font-size: 80px; }

          h2 { font-size: 28px; }
        }
      }

      nav {
        a { font-size: 28px; }
      }
    }
  }
}

@media screen and (min-width: #{$screen-desktop-lg}) {
  .header {
    .header-container {
      width: $container-desktop-lg;

      .logo {
        .header-title {
          h1 { font-size: 90px; }

          h2 { font-size: 32px; }
        }
      }

      nav {
        a { font-size: 32px; }
      }
    }
  }
}
