main {
  background-color: $background-yellow;
}

.temp-index {
  padding: $gutter;

  .section {
    margin-bottom: $gutter * 2;

    .sub-heading {
      margin: $gutter 0;
      color: $green;
      font-family: $script;
      font-size: 32px;
    }

    p {
      color: $copy;
      font-family: $helvetica;
    }
  }

  .baby-photo {
    position: relative;

    .tag-line {
      position: absolute;
      bottom: $gutter;
      margin: 0;
      background: $background-opacity;
      padding: ($gutter / 2) 0;
      width: 100%;
      text-align: center;
      line-height: 1.4em;
      color: $background-yellow;
      font-family: $script;
      font-size: 24px;
    }

    img {
      border: 1px solid $yellow;
      width: 100%;
      height: auto;
    }
  }

  .doula-details {
    width: 100%;
  }

  .services {
    width: 100%;

    img {
      float: right;
      margin: $gutter 0 $gutter $gutter;
      border: 1px solid $yellow;
      width: 45%;
      height: auto;
    }
  }

  .about {
    width: 100%;
  }

  .charity-photo {
    width: 100%;

    img {
      display: block;
      margin: 0 auto;
      border: 1px solid $yellow;
      border-radius: 50%;
      width: 150px;
      height: auto;
    }
  }

  .contact {
    a {
      display: block;
      margin: $gutter 0;
      text-decoration: none;
      color: $copy;
      font-family: $helvetica;
      font-size: 16px;
      font-weight: 400;

      svg {
        margin-right: 10px;
        color: $red;
      }
    }
  }
}

@media screen and (min-width: 425px) {
  .temp-index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    > * { flex: 0 1 auto; }

    .baby-photo {
      .tag-line {
        font-size: 36px;
      }
    }

    .charity-photo {
      width: 50%;
    }

    .contact {
      width: 50%;
    }
  }
}

@media screen and (min-width: #{$screen-tablet}) {
  .temp-index {
    margin: 0 auto;
    padding: ($gutter * 2) 0;
    width: $container-tablet;

    > * { flex: 0 1 auto; }

    .section {
      margin-bottom: 0;

      .sub-heading {
        font-size: 38px;
      }
    }

    .baby-photo {
      margin-bottom: $gutter;

      .tag-line {
        font-size: 40px;
      }
    }

    .services {
      img {
        width: 30%;
      }
    }
  }
}

@media screen and (min-width: #{$screen-tablet-lg}) {
  .temp-index {
    width: $container-tablet-lg;

    .doula-details {
      order: 1;
      padding-right: $gutter;
      width: 33.3333%;
    }

    .baby-photo {
      display: inline-block;
      order: 2;
      padding-left: $gutter;
      width: 66.6666%;

      .tag-line {
        width: calc(100% - 15px);
      }
    }

    .services {
      order: 3;
      margin: 0;

      img {
        float: left;
        margin: $gutter $gutter $gutter 0;
        width: 30%;
      }
    }

    .about {
      order: 4;
      margin: 0;
    }

    .charity-photo {
      order: 6;

      img {
        margin: 0;
        width: 200px;
      }
    }

    .contact {
      order: 5;
    }
  }
}

@media screen and (min-width: #{$screen-desktop}) {
  .temp-index {
    width: $container-desktop;

    .doula-details {
      padding-right: $gutter * 2;
    }

    .baby-photo {
      .tag-line {
        font-size: 44px;
      }
    }

    .services {
      img { width: 25%; }
    }
  }
}

@media screen and (min-width: #{$screen-desktop-lg}) {
  .temp-index {
    width: $container-desktop-lg;

    .section {
      .sub-heading {
        font-size: 42px;
      }

      p {
        font-size: 20px;
      }
    }

    .baby-photo {
      .tag-line {
        font-size: 56px;
      }
    }
  }
}
