@font-face {
  font-family: "Playlist Script";
  font-weight: normal;
  font-style:  normal;
  src: url("/assets/fonts/playlist_script-webfont.woff2") format("woff2"),
  url("/assets/fonts/playlist_script-webfont.woff") format("woff");
}
