html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

body {min-width: 300px;}

main,
section,
article,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
ul,
*::before,
*::after {
  box-sizing: border-box;
}
