$container-tablet: 510px;
$container-tablet-lg: 750px;
$container-desktop: 800px;
$container-desktop-lg: 1000px;

$screen-tablet: 600px;
$screen-tablet-lg: 900px;
$screen-desktop: 1200px;
$screen-desktop-lg: 1800px;

$gutter: 15px;

$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$script: "Playlist Script", "Brush Script MT", cursive;
