<div class="temp-index">
  <div class="baby-photo section">
    <div class="tag-line">
      Helping create a more positive birth experience
    </div>
    <img src="{{assets}}/img/MarissaLynn.jpg" alt="Baby Photo">
  </div>
  <div class="doula-details section">
    <div class="sub-heading">What is a doula?</div>
    <p>A doula is a woman who is trained to assist another woman during childbirth and who may provide support to the family after the baby is born. Birth is an amazing and miraculous event! As a doula, my goal is to assist in creating the most positive birth experience possible for the family as they welcome a new little into their lives. Assisting dad to know how to help mom is my number one priority, creating a day of family bonding. A beautiful day in the life of a family deserves nothing less.</p>
  </div>
  <div class="services section" id="services-menu">
    <div class="sub-heading">Services</div>

    <p><strong>As a doula I will:</strong></p>

    <p>My services start with a free consultation visit early in your pregnancy where we determine whether or not I will be a good fit for you and your partner as a doula. I'll get to know you, and you'll get to know me. We'll talk about what I will provide as a doula, and I'll answer questions that you have about resources available, etc.</p>

    <p>The next two visits will be in your home, preferably with your partner present, around 32 and 36 weeks. At this point, we'll discuss fears and concerns you have about labor and delivery. We'll also talk about delivery location options, pain management techniques and coping strategies. We'll work on a birth plan, or look over one you've already created. We'll talk about when to call me, once labor has started, and clues to look for to know that it has!</p>

    <p>I am also available via text/email/phone anytime that you have a question, or even just want to share news from an appointment with your care provider. Anytime that you want to talk pregnancy or baby, contact me! As your due date draws closer (around 38 weeks), this will be welcome at all hours, and I will respond 24/7.</p>

    <p>Once labor starts, I will be with you continuously, helping you, and helping your partner help you, as you progress through the stages of labor. This can start at your home, if you prefer, or at your birthing place of choice. During this time, my goal is to do everything I can to help you and your partner create the birth experience that will be most meaningful for both of you as you make this addition to your family.
      <img src="{{assets}}/img/CharityDoula.png" alt="Charity and Clementine Photo">
    I will remain with you until a few hours postpartum, helping to ensure good bonding opportunities as well as aiding to establish breastfeeding, if needed.</p>

    <p>During your stay at your birthing place, I will call, or visit you, or both, to check in on how you are doing, and see if any additional help is needed. Additionally, I will provide one in home postpartum visit where we can visit one more time, and we can discuss the birth experience together.</p>

    <p><strong>As a doula I will not:</strong></p>

    <p>I am not a medical professional. I will not perform clinical tasks. I will also not make decisions for you, nor will I project my opinions on you. Instead, I will lay out the facts so that you can make the most informed decision possible. I will also not speak to any of the medical staff on your behalf. We can discuss concerns and options, but you or your partner will be the one to communicate your desires to the staff.</p>
  </div>
  <div class="about section" id="about-menu">
    <div class="sub-heading">About</div>
    <p> Hi! I'm Charity, a mother of five, wife of Rick, and lover of life! I enjoy baking, trivia, traveling, music, visiting with family and spending time outdoors. My 5 babies came in a variety of ways, with an epidural, without an epidural, C-section and two VBACs. I continue to encourage my children's individuality as they make their own pathways through life. I've been thinking about being a doula for several years, and decided now was a good time to do it!</p>
  </div>
  <div class="contact section" id="contact-menu">
    <div class="sub-heading">Contact</div>
    <a href="mailto:charitytjeffs@gmail.com"><i class="far fa-envelope"></i>charitytjeffs@gmail.com</a>
    <a href="tel:13092224924"><i class="fa fa-phone fa-rotate-90" aria-hidden="true"></i>(309) 222-4924</a>
  </div>
  <div class="charity-photo">
    <img src="{{assets}}/img/BWCharity.png" alt="Charity Photo">
  </div>
</div>
