<div class="footer">
  <div class="footer-container">
    <div class="copyright">
      <span>
        <i class="far fa-copyright"></i> 2018 Charity Jeffs.
      </span>
      <span>
        Web Development by <a class="webmaster" href="https://rlmoser.com/" target="_blank">rlmoser.com</a>
      </span>
    </div>
    <div class="social-links">
      <a href="mailto:charitytjeffs@gmail.com"><i class="far fa-envelope"></i></a>
      <a href="tel:13092224924"><i class="fa fa-phone fa-rotate-90" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/CharityJeffsDoula/" target="_blank"><i class="fab fa-facebook-f"></i></a>
    </div>
  </div>
</div>
