<div class="header">
  <div class="header-container">
    <div class="logo" id="home">
      <img src="{{assets}}/img/labor-red.png" alt="Labor of Love Logo">
      <div class="header-title">
        <h1>Charity Jeffs</h1>
        <h2>DONA trained birth doula</h2>
      </div>
    </div>
    <nav>
      <a href="#home">HOME</a>
      <a href="#services-menu">SERVICES</a>
      <a href="#about-menu">ABOUT</a>
      <a href="#contact-menu">CONTACT</a>
    </nav>
  </div>
</div>
