<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <link href="{{assets}}/main.min.{{assetHash}}.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
  <header>
    {{> main-nav }}
  </header>
  <main>
    {{body}}
  </main>
  <footer>
    {{> footer }}
  </footer>
  <script src="{{assets}}/main.min.{{assetHash}}.js"></script>
</body>
</html>
